---
title: Order
group: navigation
weight: 9
---


<!DOCTYPE html>
<html lang="en">
<head>
{% include header %}
</head>
  <body>

  {% include navbar %}


    <div class ="orders">
        <div class = "container">
            <h2>Before you order</h2>
            <p>Make sure that you have accurate measurements for your table as specified in our measurements page before placing your order.</p>
            <hr class="featurette-divider">
            
            <p>When you are ready to checkout, submit your image and size via email to <a href="mailto:paul@trilliumpetproducts.com">paul@trilliumpetproducts.com</a>.  We will build a mock-up and send it back to you for approval.  You may either pay now at our <a href="https://squareup.com/market/trilliumpetproducts">square store</a>, or you may pay once you have approved the design.</p>
            <!-- <p>Note: If you would like to send more than one image, submit each image separately using the form below, or send them via email.</p> -->

<!--             <div class =row>
              <div class = col-md-6>
                <iframe src="http://pure-tundra-3546.herokuapp.com/index.php" width="450" height ="500" frameBorder = "0 scrolling="no" seamless="seemless" "></iframe>
              </div>
              <div class = col-md-6>
                <a href="https://squareup.com/market/trilliumpetproducts"><img src="/assets/images/payButtonCircle.png"></a>
              </div>

            </div> -->
        </div>

   
    </div>
    
    {% include analytics/google %}
  </body>
</html>