---
title: Order
group: navigation
weight: 6
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="faqs">
        <div class = "container">
            <h2>Before you order</h2>
            <p>Make sure that you have accurate measurements for your table as specified in another place on this site (will include link).  Also double check that the image is of the right quality as specified (link).</p>
            <hr class="featurette-divider">
            
            <p>When you are ready, submit your image and size in the form below.  You will be redirected to our store which is hosted by Square.</p>

        </div>
    </div>

  </body>
</html>