---
title: Order
group: navigation
weight: 6
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="orders">
        <div class = "container">
            <h2>Before you order</h2>
            <p>Make sure that you have accurate measurements for your table as specified in our measurements page before placing your order.</p>
            <hr class="featurette-divider">
            
            <p>When you are ready, submit your image and size in the form below or via email.  We will build a mock-up and send it back to you for approval.  Once approved, you will be sent a link to pay for the order.</p>
            <p>Note: If you would like to send more than one image, submit each image separately using the form below, or send them via email.</p>

            <iframe src="https://pure-tundra-3546.herokuapp.com/index.php" width="450" height ="500" frameBorder = "0 scrolling="no" seamless="seemless" "></iframe>

        </div>

   
    </div>
    

  </body>
</html>