---
title: Home
group: index
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include header %}

<meta name="keywords" content="Trillium Pet Products, trillium, pet, products, grooming, table, top, tabletop, dog, show dog, show, kennel, custom, personalized, customized, grooming tabletop, AKC, UKC, durable, picture, photo" />

<meta name = "descripton" content="Custom dog grooming tabletops, personalized for your kennel.">

</head>

  <body>
  	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
  
  {% include navbar %}

    <div class="jumbotron">
      <div class="container">

      </div class = "Trillium Pet Products">
          <div class="fb-share-button" data-href="http://trilliumpetproducts.com/" data-layout="button_count"></div>
    </div> 



    {% include analytics/google %}
  </body>
</html>