---
title: Home
group: index
---

<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>
  
  {% include navbar %}

    <div class="jumbotron">
      <div class="container">

      </div>
    </div> 

    <div class ="TableSamples">
    <div class = "container">
        <h2>Table Samples</h2>
        <p>We can use and enhance photographs of your dog to create a show-stopping grooming table top.</p>
        <div class= "row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="/assets/images/samples/1.jpg">
                </div>
                 <div class="thumbnail">
                    <img src="/assets/images/samples/2.jpg">
                </div>
            </div>
            <div class = col-md-4>
                <div class="thumbnail">
                    <img src="/assets/images/samples/3.jpg">
                </div>
                <div class="thumbnail">
                    <img src="/assets/images/samples/4.jpg">
                </div>
            </div>
            <div class = col-md-4>
                <div class="thumbnail">
                    <img src="/assets/images/samples/5.jpg">
                </div>
                <div class="thumbnail">
                    <img src="/assets/images/samples/6.jpg">
                </div>
            </div>
        </div>
    </div>


        
    </div>




  </body>
</html>