---
title: Contact Us
group: navigation
weight: 3
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="TableSamples">
    <div class = "container">
        <h2>Contact Us</h2>
        <p>We love to talk about dogs!  Here is our phone number and our email address.  The business hours are listed here too.</p>
        <div class= "row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/397570_10101018867663055_624351213_n.jpg?oh=6bc8a388f2c4d07d57b124ce3d8c6a9f&oe=551245AE">
                </div>
                 <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/1928700_631946941325_4445762_n.jpg?oh=f4638a4450b33474ee2003698d63c54e&oe=551536A2&__gda__=1427070091_0704be1ffe7e16414260a0f0aed75b3d">
                </div>
            </div>
            <div class = col-md-4>
                <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/319843_10100731522295475_2097771102_n.jpg?oh=79d6ce0f786bcdee34aab6050f27cda8&oe=54FB65C2&__gda__=1426127689_c50d1314d07eaebbbdb417efe7fc12b2">
                </div>
                <div class="thumbnail">
                    <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1923260_527434834425_6721_n.jpg?oh=6b14e6f8ed798343adfb04e45149744a&oe=5543616C">
                </div>
            </div>
            <div class = col-md-4>
                <div class="thumbnail">
                    <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1916251_774976518905_2841654_n.jpg?oh=2aa3e4bfcd399a5ad4866190b9a49ceb&oe=5546E1DD">
                </div>
            </div>
        </div>
    </div>
    </div>

{% include footer %}
  </body>
</html>