---
title: Contact
group: navigation
weight: 8
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="contact">
        <div class = "container">
            <h2>Contact Us</h2>
            <h3>Email: <a href="mailto:paul@trilliumpetproducts.com">paul@trilliumpetproducts.com</a><br>
            Phone us at Klinefelter's Gallery: 231-893-0194<br>
            Business Hours: Monday-Saturday, 9:00-5:30, Eastern Standard Time</h3>
            <br>
            <h3>Or stop in at: <br>Klinefelter's Gallery<br>1124 Mears Avenue<br>Whitehall, Michigan 49461</h3>
        </div>
    </div>

  </body>
</html>