---
title: FAQs
group: navigation
weight: 5
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="faqs">
        <div class = "container">
            <h2>Frequently Asked Questions</h2>
            <p>If any of your questions are not addressed, feel free to send us a message.</p>
            <hr class="featurette-divider">
            <div class ="question1"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Do Trillium tabletops fit over my existing table?</h3>
                        <p>Yes, they are designed to adhere to any textured surface.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="question2"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Do I install it onto the table myself?</h3>
                        <p>Yes, it is very simple.  You will need a pencil, a pair of scissors, and a hair dryer.  It will take about fifteen minutes.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="question3"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Does any picture work?</h3>
                        <p>Yes, with the exception of copyright protected photos. High resolution digital is preferred, but we can even use old film photos if that's what you want on your table.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="question4"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Can you make changes to the photo?</h3>
                        <p>Yes, we are professional photographers with extensive retouching experience. You will be surprised what we can do.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="question5"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Are there additional charges for retouching the photos?</h3>
                        <p>Basic "touch up" is included. Any retouching beyond basic enhancements will be charged on a case-by-case basis. Quotes will be made before you make a commitment.</p>

                        <p>See the example below.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <hr class="featurette-divider">
            <div class ="before and after"
                <div class= "row">
                    <div class = col-md-6>
                        <h3>Before</h3>
                        <div class="thumbnail">
                            <img src="/assets/images/examples/beforeRetouch.jpg">
                        </div>
                    </div>
                </div>
                <div class= "row">
                    <div class = col-md-6>
                        <h3>After</h3>
                        <div class="thumbnail">
                            <img src="/assets/images/examples/afterRetouch.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer %}
  </body>
</html>