---
title: About
group: navigation
weight: 2
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}

    <div class ="About">
    <div class = "container">
        <h2></h2>

        <div class = col-md-4>
                <div class="thumbnail" "centeredimg">
                    <img src="/assets/images/PaulAndCindy.jpg">
                </div>
            </div>

        <div class=col-md-8>
            <h2>About Us</h2>
            <p>We have been in the custom framing, art, design and professional photography business for over 25 years as klinefeltersgallery.com . Our first Trillium Pet Product was created when we wanted to promote our kennel, Trillium Newfoundlands, at dog shows. Our grooming table was over 10 years old and the perfect slate for us to create a work of art with a message. After trying it out ourselves, we decided to create Trillium Pet Products in order to offer our custom tabletops for sale to others as well.</p>
        </div>
    </div>
    <div class="container">
        <div class = col-md-12>

            <h2>Our Tabletops</h2>

            <p>When we first developed our tabletops, there were certain characteristics that we wanted them to possess. We wanted a product that was durable. We know that grooming tables go through a lot, even when maintained well. With dogs getting up and down frequently, as well as the general wear from traveling, it is of the utmost importance that the tabletop can hold up to a great deal of wear. We have found that, using dish soap and a brush, the tabletop always comes clean, even when we use products on our dogs.</p>

            <p>We also wanted the tabletops to have a great deal of texture. The texture of our tabletops is very similar to the texture that comes standard on most grooming tables.</p>

            <p>Ease of installation was another essential part of our design. To install your new tabletop, lay the tabletop on your grooming table, trace the corners, and trim with a pair of scissors. After that, peel the backing and adhere it to your old tabletop. Use a hairdryer set on hot to heat the surface of the table while rubbing with a gloved hand to strengthen the glue. The adhesive is very strong and will not allow the top to move once it is in place. It is easy to do yourself, and is also removable so that if you would like to change your photo and message in the future, you can.</p>

            <p>If you would like to customize a tabletop, you will need to send an accurate measurement of your grooming tabletop. After that, send us a digital file of a photo, or multiple photos. These do not have to be professional photos. Send your logo, or anything else you would like included. We will retouch, edit, and create a mock-up of your new tabletop. We want your tabletop to be fantastic and will work with you until the design is exactly what you want. Once you approve the layout, it will be produced and shipped to you.</p>

            <p>We are pleased that our product is also being used as a surface for other animals, such as guinea pigs, as well as dogs. If you have an item that could use a new cover, let us know and we will work with you, regardless of the size.</p>

            <p>If you have any questions, please contact me at <a href="mailto:paul@trilliumpetproducts.com">paul@trilliumpetproducts.com</a>.</p>

        </div>
    </div>
</div>
    
    </div>

  </body>
</html>