---
title: Testimonials
group: navigation
weight: 4
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="testimonials">
        <div class = "container">
            <h2>Testimonials</h2>
            <p>People are going to say nice things here</p>
            <hr class="featurette-divider">
            <div class ="person1"
                <div class= "row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/5.jpg">
                        </div>
                    </div>
                    <div class = col-md-8>
                        <h2>Ginny Lengel - TurfTide Newfoundlands</h2>
                        <p>Love, love, love this grooming table top!  The gorgeous shot, taken by Klinefelter's Gallery, of a very special Newf litter of mine, always brings praise and inquires at dog shows.  Yes, it was super easy to apply; yes, it has proven to be quite durable; yes, any picture you want can be put on the table; and yes, I'll be happy to tell you where you can get one of your own.  An added bonus is that I don't have to worry about people accidentally walking off with my table!  Thank you, Klinefelter's Gallery, for offering such a special product.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person2"
                <div class= "row">
                    <div class = col-md-8>
                        <h2>Golden Oak's Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person3"
                <div class= "row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/3.jpg">
                        </div>
                    </div>
                    <div class = col-md-8>
                        <h2>Celilo Falls Shadow's Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person4"
                <div class= "row">
                    <div class = col-md-8>
                        <h2>Celilo Falls Present Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <hr class="featurette-divider">



    </div>

    {% include footer %}
  </body>
</html>