---
title: Testimonials
group: navigation
weight: 4
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="testimonials">
        <div class = "container">
            <h2>Testimonials</h2>
            <p>People are going to say nice things here</p>
            <hr class="featurette-divider">
            <div class ="person1"
                <div class= "row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/1.jpg">
                        </div>
                    </div>
                    <div class = col-md-8>
                        <h2>Ellie's Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person2"
                <div class= "row">
                    <div class = col-md-8>
                        <h2>Golden Oak's Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person3"
                <div class= "row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/3.jpg">
                        </div>
                    </div>
                    <div class = col-md-8>
                        <h2>Celilo Falls Shadow's Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="person4"
                <div class= "row">
                    <div class = col-md-8>
                        <h2>Celilo Falls Present Review</h2>
                        <p>This is a review of a newfer table.  We thing Newfs are pretty awesome!  So are tables.  And tables can make your kennel look good too.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/images/samples/4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <hr class="featurette-divider">



    </div>

    {% include footer %}
  </body>
</html>