---
title: Products
group: navigation
weight: 1
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="products">
    <div class = "container">
        <h2>Tables</h2>
        <p>Right now, we just offer tables.  We'll talk about them a bit more on this page and more stuff can be added later too.</p>
        <div class= "row">
            <div class="col-md-6">
                <a href="https://squareup.com/market/trilliumproducts/custom-table-large" class="sq-embed-item"> online</a>
                <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
            </div>

            <div class="col-md-6">
                <a href="https://squareup.com/market/trilliumproducts/custom-tabletop-small" class="sq-embed-item"> online</a>
                <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
            </div>

        </div>
    </div>


    {% include cart %}

    </div>

    {% include footer %}
  </body>
</html>