---
title: Products
group: navigation
weight: 1
---


<!DOCTYPE html>
<html lang="en">

<head>
{% include header %}
</head>

  <body>

  {% include navbar %}


    <div class ="products">
    <div class = "container">
        <!-- <h2>Custom Grooming Tabletops</h2> -->
        <p></p>
        <div class= "row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/samples/10.jpg">
                    </div>
                </div>
                <div class= "col-md-6">
                    <h3>Custom Tabletop - Large</h3>
                    <p>For tables between 20x40 and 27x44<br>$150 + shipping</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/samples/5.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Custom Tabletop - Small</h3>
                    <p>For tables under 20x40 <br>$140 + shipping</p>
                </div>
            </div>
        </div>

        <div class= "row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/examples/afterRetouch.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Digital File</h3>
                    <p>A high resolution digital file of your tabletop suitable for advertisment<br>$100</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/nonTableProducts/crock.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Ceramic Crock</h3>
                    <p>Dimensions: 9 3/4 inch diameter - Weight: 12 lb<br>Up to ten large letters/spaces or up to 14 small letters or spaces on each line<br>Handcrafted pottery made in the USA<br>Deeply sandblasted engraving<br>Great for entryways to welcome guests<br>Use on the hearth to hold kindling<br>Makes a great gift!<br>$64.95 + Shipping</p>
                </div>
            </div>
        </div>

        <div class= "row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/nonTableProducts/ovalPlaque.jpg">
                    </div>
                </div>
                <div class = "col-md-6">
                    <h3>Oval Plaque</h3>
                    <p>Dimensions: 16 1/2" x 11"<br>Deeply sandblasted engraving.<br>Up to 12 letters/spaces per line.<br>$95.00 + Shipping</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/nonTableProducts/ornatePlaque.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Ornate Plaque</h3>
                    <p>Dimensions: 17 1/2" x 15"<br>Deeply sandblasted engraving.<br>Up to 12 letters/spaces per line.<br>Available in Black or French Bronze frame<br>$129.00 + Shipping</p>
                </div>
            </div>
        </div>

        <div class= "row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/nonTableProducts/leashHolder.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Leash Holder</h3>
                    <p>Dimensions: 13 1/2  x  4 1/4<br>Made of recycled aluminum.<br>Up to 12 characters.<br>Colors available: Black with Gold, Green with Gold, and Antique Copper<br>$39.00 + Shipping</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="/assets/images/nonTableProducts/dogBowl1.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Personalized Pet Feeder</h3>
                    <p>Dimensions: 18 1/4"w  x  10 5/8"h  x  9 3/4 d<br>Unique feeding station which mounts elevated to your dogs height.<br>Removable stainless steel bowls (included) hold up to 2 quarts of food or water.<br>Lower bowl frame lifts off for easy cleaning.<br>Up to 14 characters.<br>Made of recycled aluminum.<br>$99.00 + Shipping</p>
                </div>
            </div>
        </div>
        
    </div>
    </div>


    </div>
    {% include analytics/google %}

  </body>
</html>