---
title: About Images
group: other
weight: 1
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}



    <div class ="AboutImages">
    <div class = "container">
        <h2>Images</h2>
        <p>The image used for a dog tabletop should be very high quality.  I'll specify a minimum quality here.  If you are unsure if your photo is of a high enough quality, feel free to contact us.  Here is our phone number and our email address.</p>
        <div class= "row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/q85/p417x417/10492060_826896997322232_5110298308735362192_n.jpg?oh=b500da6d6f77073346dd6d130cdfab41&oe=5509DA39&__gda__=1426836924_f57f680f7d67eea0ea1e86dc30a66342">
                </div>
            </div>
        </div>
    </div>
    </div>

    {% include footer %}

  </body>
</html>