---
title: Measurements
group: navigation
weight: 6
---


<!DOCTYPE html>
<html lang="en">

{% include header %}

  <body>

  {% include navbar %}


    <div class ="measurements">
        <div class = "container">
            <h2>Measuring Your Table</h2>
            <p>This section explains how to measure your table.</p>
            <hr class="featurette-divider">
            <div class ="measurement1"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Step-by-step guide</h3>
                        <p>Explaination here, picture below.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="featurette-divider">
            <div class ="measurement2"
                <div class= "row">
                    <div class = col-md-12>
                        <h3>Another step.</h3>
                        <p>Another explaination and picture..</p>
                    </div>
                </div>
            </div>
        </div>


    {% include cart %}
        
    </div>

    {% include footer %}
  </body>
</html>